
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/shared/Common_Admin_Layout.cshtml";
}

<div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6 border mt-4 mb-4" id="cpass" style="background-color: #ebf4fa">
        <h2 class="card-header text-primary text-center pt-2">Change Password</h2>
        <h5 class="text-success text-center ">@ViewBag.Message</h5><hr />
        <form action="/Admin/ChangePassword" method="post">
            <!--------current password--------->
            <div class="mb-2">
                <label for="CurrentPassword" class="form-leble"></label>
                <input type="password" class="form-control" id="exampleFromControlInput1" placeholder="Enter Current Password" name="Pass" />
            </div>
            <!--------new password-------->
            <div class="mb-2">
                <label for="NewPassword" class="form-leble"></label>
                <input type="password" class="form-control" id="exampleFromControlInput1" placeholder="Enter Current New Password" name="NewPass" />
            </div>
            <!--------confirm password-------->
            <div class="mb-2">
                <label for="Confirm Password" class="form-leble"></label>
                <input type="password" class="form-control" id="exampleFromControlInput1" placeholder="Enter Confirm Password" name="ConfPass" />
            </div>
            <center><input type="submit" value="Update" class="btn btn-primary mt-2 mb-3" style="font-size:18px;width:15%;" /></center>
        </form>
    </div>
    <div class="col-sm-3"></div>
</div>

