
@{
    ViewBag.Title = "myintro";
    Layout = "~/Views/shared/Common_General_Layout.cshtml";
}

<div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-10">
            <div class="row bg-primary mt-4 mb-5">
                <div class="col-sm-9">
                    <p class="bg-primary p-3 h3 text-center" style="color:white;"> Kamadgiri Software Solution Pvt. Ltd</p>
                </div>
                <div class="col-sm-2 text-center">
                    <img src="~/contant/images/ksslogonew.png" style="width:100%;" class="pt-2 pb-2" />
                </div>
                <div class="col-sm-1"></div>
            </div>
            <div class="row">
                <div class="col-sm-4"></div>
                <div class="col-sm-4 text-center">
                    <img src="~/contant/images/WhatsApp Image 2023-09-21 at 01.39.29.jpg" style="height:150px;width:150px; border:1px solid black;border-radius:50%;" />
                </div>
                <div class="col-sm-4"></div>
            </div>
            <div class="row mt-3 mb-3">
                <div class="col-sm-3"></div>
                <div class="col-sm-8" style="text-align:justify;">
                    <div class="row mt-2">
                        <div class="col-sm-1"></div>
                        <div class="col-sm-5 h3 text-bold text-left" style="margin-right:-10px;">Name :-</div>
                        <div class="col-sm-5 h4" style="color: #0288d1;">Prashant Patel</div>
                        <div class="col-sm-1"></div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-sm-1"></div>
                        <div class="col-sm-5 h3 text-bold text-left" style="margin-right:-10px;">Collage Name :-</div>
                        <div class="col-sm-5 h4" style="color: #0288d1;">MJP GP Kaushambi</div>
                        <div class="col-sm-1"></div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-sm-1"></div>
                        <div class="col-sm-5 h3 text-bold text-left" style="margin-right:-10px;">Email Id :-</div>
                        <div class="col-sm-5 h4" style="color: #0288d1;">prashant1002patel@gmail.com</div>
                        <div class="col-sm-1"></div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-sm-1"></div>
                        <div class="col-sm-5 h3 text-bold text-left" style="margin-right:-10px;">Project Name :-</div>
                        <div class="col-sm-5 h4" style="color: #0288d1;">EStudy Corner</div>
                        <div class="col-sm-1"></div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-sm-1"></div>
                        <div class="col-sm-5 h3 text-bold text-left" style="margin-right:-10px;">Technology :-</div>
                        <div class="col-sm-5 h4" style="color: #0288d1;">Microsoft .NET</div>
                        <div class="col-sm-1"></div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-sm-1"></div>
                        <div class="col-sm-5 h3 text-bold text-left" style="margin-right:-10px;">Description :-</div>
                        <div class="col-sm-5 h4" style="color: #0288d1;">The activity or process of learing about somthing by reading, memorizing facts attending in this training.</div>
                        <div class="col-sm-1"></div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-sm-1"></div>
                        <div class="col-sm-5 h3 text-bold text-left" style="margin-right:-10px;">Mobile No. :-</div>
                        <div class="col-sm-5 h4" style="color: #0288d1;">+91- 8423619790</div>
                        <div class="col-sm-1"></div>
                    </div>
                </div>
                <div class="col-sm-1"></div>
            </div>
        </div>
        <div class="col-sm-1"></div>
    </div>

