
@{
    ViewBag.Title = "Visionmission";
    Layout = "~/Views/shared/Common_General_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-sm-12 text-center pt-4">
            <h1 style="font-size: 50px; color: #0288d1">Vision and Mission</h1>
        </div>
        <div class="row mt-4">
            <div class="col-sm-3">
                <p style="height:450px;">
                    <img src="~/contant/images/vision11.png" />
                </p>
            </div>
            <div class="col-sm-1"></div>
            <div class="col-sm-8" id="vision">
                <span>
                    <h1 style="text-align: center; color: #0288d1;">Our Vision...</h1>
                    My Vision is a subject which covers topics related to values, truthfulness, inspirational & motivational- moral stories of great personalities, these sessions help the child to embark on the journey of life with Strength and Confidence. Honesty, kindness, friendship, understanding, respect for all and responsibility for our actions. The infrastructure is apt with classroom teaching aids, libraries, multi-media lab, smart-digital learning, mental activity lab, play ground, etc. Seminar Presentation, Yoga, Physical fitness Training, and personality development are all part of the curriculum.<br />
                    "Life is a blessing, Every day is a blessing. Knowledge doesn't create anything. You must understand this. Knowledge doesn't create an experience. Knowledge puts you in touch with an experience. By distinction. And can Knowledge put you in touch with that simplicity that's inside of you? The answer is yes".<br />&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;"Value education is given a special thrust."
                </span>
            </div>
        </div>
        <div class="row mt-5 mb-5">
            <div class="col-sm-8" id="mission">
                <span>
                    <h1 style="text-align: center; color: #0288d1;">Our Mission...</h1>
                    The most important thing for each person is to have a moral sense especially for educator’s people because they are the one who affect and raise our children and new generation. I believe as a leader every teachers have to set their own mission and vision before they teach because this show how they are going to teach the students. As a matter of fact, it is essential for each school to have her own mission and vision statement. The School's mission is to provide a stimulating, friendly, healthy and happy environment to all our students, instilling a life-long love for learning and building curiosity. <br />
                    We aim to pursue, recognize and celebrate personal excellence in all its forms and instill humanity & leadership skills in our students. My mission is to create a positive environment for the students to learn, prepare students academically and socially, teach the students how to love everyone and services.<br />
                    "Without self knowledge you have nothing less, with self knowledge you have just more."
                </span>
            </div>
            <div class="col-sm-4">
                <p style="height: 450px;">
                    <img src="~/contant/images/mission11.png" />
                </p>
            </div>
        </div>
    </div>
</div>

