
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/shared/Common_User_Layout.cshtml";
}
<div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6 mt-5 mb-5"id="cpass">
        <h1 class="card-header text-primary text-center mt-3">Change Password</h1>
        <h5 class="text-danger text-center">@ViewBag.Message</h5>
        <p class="text-danger text-center formessage"></p>
        <form action="/User/ChangePassword" method="post">
            <!--------current password--------->
            <div class="mb-3">
                <label for="CurrentPassword" class="form-leble">Current Password</label><br /><br />
                <input type="password" class="form-control" id="exampleFromControlInput1" placeholder="Enter Current Password" name="Pass" />
            </div>
            <!--------new password-------->
            <div class="mb-3">
                <label for="NewPassword" class="form-leble">New Password</label><br /><br />
                <input type="password" class="form-control" id="exampleFromControlInput1" placeholder="Enter New Password" name="NewPass" />
            </div>
            <!--------confirm password-------->
            <div class="mb-3">
                <label for="Confirm Password" class="form-leble">Confirm Password</label><br /><br />
                <input type="password" class="form-control" id="exampleFromControlInput1" placeholder="Enter Confirm Password" name="ConfPass" />
            </div>
            <center><input type="submit" value="Update" class="btn btn-primary mt-1 mb-3" style="font-size:18px;width:15%;" /></center>
        </form>
    </div>
    <div class="col-sm-3"></div>
</div>


